<h1> Product details </h1>

<p>
<STRONG>Name:</STRONG>
<%= @products.name %>
</p>	

<p>
<STRONG>Description:</STRONG>
<%= @products.description %>
</p>	

<p>
<STRONG>Price:</STRONG>
<%= @products.price %>
</p>	

<p>
<STRONG>Make:</STRONG>
<%= @products.make %>
</p>	